.div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a {
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  color: aqua;
}
#button {
  background-color: aqua;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  margin-left: 20px;
}
input:focus {
  border: none;
}
